body {
    margin-left: 15px;
    margin-right: 15px;
}

body.darktheme {
    background-color: #1E1E1E;
    color: #C8C8C8;
}

body.lighttheme {
    background-color: #F7F7F7;
}

div.content {
    margin-top: 70px; /* Account for the fixed header*/
}

.description {
    margin-bottom: 10px;
}

ol {
    margin-top: 5px;
}

/* Reduce the padding on the left of all tasks. */
ol.root-list {
    padding-left: 30px;
}

.incomplete-check:hover, .complete-check:hover, .print-btn:hover, .dark-theme-btn:hover, .light-theme-btn {
    cursor: pointer;
}

.task-item-container {
    margin-top: 10px;
}

.fa {
    margin-right: 6px;
}

.fa-lg {
    width: 17px;
}

hr {
    border-top: 1px solid #ddd;
}

/* Loading overlay */
.loaded-content {
    display: none;
}

.loading-overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.loading-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -49px 0 0 -49px;
}

/* Overrides to bootstrap styles */
.progress {
    height: 5px;
    margin-bottom: 0px;
    border-radius: unset;
}

.alert {
    padding: 5px;
    margin-bottom: 10px;
}
.task-alert {
    margin-bottom: 4px;
    padding: 3px 3px 3px 4px;
    border: none;
    box-shadow: none;
}

/* Tutorial tooltips */
.tooltip > .tooltip-inner {
    background-color: #4AAA4A;
    color: #000;
    font-size: 14px;
}

.tooltip > .tooltip-arrow {
    border-top-color: #4AAA4A !important;
    border-bottom-color: #4AAA4A !important;
}

.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* Print styles */
@media print { 
    div.content {
        margin-top: 0px;
    }
}